.inicio
    height: 800px
    @include container
    @include flex-box(flex, center, center)
    .inicio-intro
        padding-left: 50px
        margin: 100px 0
        span
            color: white
        h1
            font-family: 'Ubuntu', cursive
            background-image: linear-gradient(135deg, $cor-primaria, $cor-gradiente)
            background-clip: text
            -webkit-text-fill-color: transparent
            margin: 10px 0 0 0
            font-size: 3.5em
        .inicio-sub-title
            margin-bottom: 15px
            letter-spacing: 0.05em
            background-image: linear-gradient(135deg, $cor-gradiente)
            background-clip: text
            -webkit-text-fill-color: transparent
        p
            font-family: Roboto, sans-serif
            padding-left: 20px 0
            color: white
            margin-bottom: 5px
            word-wrap: break-word
        .inicio-sub-title-intro
            margin-bottom: 40px
        .botoes
            width: 100%
            display: flex
            justify-content: center
            .btn-cv
                &:hover 
                    transition: all ease 2s
                    background-image: linear-gradient(135deg, $cor-gradiente)
                transition: 2s
                background: transparent
                color: white
                
                
    .inicio-unid
        .inicio-imagem
            width: 750px
            background-image: url('../img/mini-img.png')
            background-repeat: no-repeat
            background-position: center
            height: 500px
        .inicio-btn
            padding: 13px 35px
            margin: 0 10px
            border-radius: 25px
            
        .btn-portifolio
            font-weight: bold
            background-image: linear-gradient(135deg, $cor-gradiente)
            color: black
        
            

    /*
        background-image: linear-gradient(135deg,var(--colors-gradient));    background-clip: text;      -webkit-text-fill-color: transparent*/
    