@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Roboto:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: black;
  list-style: none;
}
* a {
  text-decoration: none;
  color: black;
}

.mobile-title {
  display: none;
}

body {
  overflow-y: visible;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  padding: 0;
  min-height: 100vh;
  background: black;
}

@keyframes rodar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  width: 100%;
  border-bottom: 0.01em solid #383838;
}
header .container-header {
  margin: auto;
  width: 1300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .container-header .logotipo .logotipo-logo {
  max-width: 70px;
  opacity: 0.5;
}
header .container-header nav ul {
  display: flex;
  align-items: center;
  margin: 0;
}
header .container-header nav ul li {
  height: 80px;
  display: flex;
  align-items: center;
  letter-spacing: 1.4px;
  border-bottom: 2px solid transparent;
}
header .container-header nav ul li:hover {
  border-bottom: 2px solid #8f6ce0;
}
header .container-header nav ul li:hover a {
  color: white;
}
header .container-header nav ul li a {
  color: #6b6969;
  padding: 30px 12px;
  font-weight: 500;
}
header .container-header nav ul li a:hover {
  transition: 0.5s;
}
header .container-header .header-botao {
  color: #000000;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 2s ease;
  background-image: linear-gradient(135deg, #e386ff, #9f80e7);
  font-size: 1em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 25px;
  letter-spacing: 1.1px;
}
header .container-header .header-botao:hover {
  background-image: linear-gradient(to right, #e386ff 50%, #9f80e7 50%);
  transition: 1s ease;
  background-position: left bottom;
  color: white;
}

.inicio {
  height: 800px;
  margin: auto;
  width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  background-image: linear-gradient(135deg,var(--colors-gradient));    background-clip: text;      -webkit-text-fill-color: transparent*/
}
.inicio .inicio-intro {
  padding-left: 50px;
  margin: 100px 0;
}
.inicio .inicio-intro span {
  color: white;
}
.inicio .inicio-intro h1 {
  font-family: "Ubuntu", cursive;
  background-image: linear-gradient(135deg, #e386ff, #e386ff, #9f80e7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 0 0 0;
  font-size: 3.5em;
}
.inicio .inicio-intro .inicio-sub-title {
  margin-bottom: 15px;
  letter-spacing: 0.05em;
  background-image: linear-gradient(135deg, #e386ff, #9f80e7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.inicio .inicio-intro p {
  font-family: Roboto, sans-serif;
  padding-left: 20px 0;
  color: white;
  margin-bottom: 5px;
  word-wrap: break-word;
}
.inicio .inicio-intro .inicio-sub-title-intro {
  margin-bottom: 40px;
}
.inicio .inicio-intro .botoes {
  width: 100%;
  display: flex;
  justify-content: center;
}
.inicio .inicio-intro .botoes .btn-cv {
  transition: 2s;
  background: transparent;
  color: white;
}
.inicio .inicio-intro .botoes .btn-cv:hover {
  transition: all ease 2s;
  background-image: linear-gradient(135deg, #e386ff, #9f80e7);
}
.inicio .inicio-unid .inicio-imagem {
  width: 750px;
  background-image: url("../img/mini-img.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}
.inicio .inicio-unid .inicio-btn {
  padding: 13px 35px;
  margin: 0 10px;
  border-radius: 25px;
}
.inicio .inicio-unid .btn-portifolio {
  font-weight: bold;
  background-image: linear-gradient(135deg, #e386ff, #9f80e7);
  color: black;
}

.engrenagem-container {
  width: 400px;
  padding: 200px 0;
  margin: auto;
}
.engrenagem-container .engrenagem-imagem {
  margin-left: 25%;
  width: 200px;
  animation: rodar 10s linear infinite;
}
.engrenagem-container .engrenagem-texto {
  text-align: center;
  letter-spacing: 0.07em;
  margin-top: 40px;
}
.engrenagem-container .engrenagem-texto span {
  display: block;
  color: white;
}
.engrenagem-container .engrenagem-texto h6 {
  color: #ffffff88;
  font-family: "Ubuntu", sans-serif;
  margin: 10px 0;
  font-weight: 100;
}

@media (max-width: 1420px) {
  .inicio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .inicio .inicio-intro {
    max-width: 600px;
  }

  .engrenagem-container {
    margin: 200px auto;
  }

  .container-header {
    max-width: 100%;
  }
}
@media (max-width: 1060px) {
  .container-body .carrossel-container .cards .card-3 {
    display: none !important;
  }
  .container-body .carrossel-container .cards .card-4 {
    display: none !important;
  }
  .container-body .carrossel-container #item-5:checked ~ .cards #song-2,
.container-body .carrossel-container #item-1:checked ~ .cards #song-5,
.container-body .carrossel-container #item-2:checked ~ .cards #song-1 {
    transform: translateX(60%) scale(0.8);
    opacity: 0.85;
    z-index: 0;
  }
  .container-body .carrossel-container #item-2:checked ~ .cards #song-5,
.container-body .carrossel-container #item-1:checked ~ .cards #song-2,
.container-body .carrossel-container #item-5:checked ~ .cards #song-1 {
    transform: translateX(-60%) scale(0.8);
    opacity: 0.85;
    z-index: 0;
  }
}
@media (max-width: 700px) {
  .container-body .carrossel-container #item-5:checked ~ .cards #song-2,
.container-body .carrossel-container #item-1:checked ~ .cards #song-5,
.container-body .carrossel-container #item-2:checked ~ .cards #song-1 {
    transform: translateX(30%) scale(0.8);
    opacity: 0.85;
    z-index: 0;
  }
  .container-body .carrossel-container #item-2:checked ~ .cards #song-5,
.container-body .carrossel-container #item-1:checked ~ .cards #song-2,
.container-body .carrossel-container #item-5:checked ~ .cards #song-1 {
    transform: translateX(-30%) scale(0.8);
    opacity: 0.85;
    z-index: 0;
  }

  header .container-header {
    justify-content: flex-start;
  }
  header .container-header nav {
    display: none;
  }
  header .container-header .header-botao {
    display: none;
  }

  .inicio .inicio-intro {
    padding: 0 10%;
  }
  .inicio .inicio-intro h1 {
    font-size: 2.5em;
  }
  .inicio .inicio-intro p {
    font-size: 0.9em;
  }
  .inicio .inicio-intro span {
    font-size: 0.9em;
  }
  .inicio .inicio-unid-img {
    display: flex;
    justify-content: center;
  }

  .engrenagem-container .engrenagem-imagem {
    max-width: 50%;
  }
}
@media (max-width: 760px) {
  .inicio {
    display: block;
  }
  .inicio .inicio-unid-img {
    max-width: 95%;
    margin: auto;
  }
  .inicio .inicio-unid-img .inicio-imagem {
    background: url("../img/mini-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
  }
}
@media (max-width: 466px) {
  .inicio .inicio-intro .inicio-btn {
    border-radius: 10px;
    font-size: 0.9em;
    padding: 13px 20px;
  }

  .inicio .inicio-intro .desktop-title {
    display: none;
  }
  .inicio .inicio-intro .mobile-title {
    display: block;
    font-size: 3.5em;
  }
}
@media (max-width: 460px) {
  .inicio .inicio-intro .inicio-btn {
    border-radius: 10px;
    font-size: 0.9em;
    padding: 13px 20px;
    margin: 0;
  }

  .container-body {
    margin: 0 !important;
  }
  .container-body .carrossel-container .cards .card {
    min-width: 90%;
    max-height: 90%;
  }
}
@media (max-width: 425px) {
  br {
    display: none;
  }

  body .box {
    margin: 0 10px;
    min-width: 80% !important;
  }
  body .box .box-input {
    margin: 10% 0;
  }
  body .box .box-date .box-date-input {
    display: block;
    margin: 5px 0 !important;
  }
}
.container-body {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  background-image: linear-gradient(to bottom, black, #1c011d, black);
  transition: background 0.4s ease-in;
  height: 1000px;
}
.container-body .title {
  position: absolute;
  margin-top: -850px;
  color: white;
  opacity: 0.8;
  text-transform: uppercase;
  font-family: "Roboto";
}
.container-body .carrossel-container {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform-style: preserve-3d;
}
.container-body .carrossel-container input[type=radio] {
  display: none;
}
.container-body .carrossel-container .cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.container-body .carrossel-container .cards .card {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.container-body .carrossel-container .cards .card .card-title {
  background-color: white;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-4,
#item-4:checked ~ .cards #song-5,
#item-5:checked ~ .cards #song-1 {
  transform: translateX(-70%) scale(0.8);
  opacity: 0.85;
  z-index: 0;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-4,
#item-3:checked ~ .cards #song-5,
#item-4:checked ~ .cards #song-1,
#item-5:checked ~ .cards #song-2 {
  transform: translateX(-120%) scale(0.6);
  opacity: 0.1;
  z-index: -1;
}

#item-1:checked ~ .cards #song-5,
#item-5:checked ~ .cards #song-4,
#item-2:checked ~ .cards #song-1 {
  transform: translateX(70%) scale(0.8);
  opacity: 0.85;
  z-index: 0;
}

#item-1:checked ~ .cards #song-4,
#item-5:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-5,
#item-4:checked ~ .cards #song-1 {
  transform: translateX(120%) scale(0.6);
  opacity: 0.1;
  z-index: -1;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3,
#item-4:checked ~ .cards #song-4,
#item-5:checked ~ .cards #song-5 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #song-1 img,
#item-2:checked ~ .cards #song-2 img,
#item-3:checked ~ .cards #song-3 img,
#item-4:checked ~ .cards #song-4 img,
#item-5:checked ~ .cards #song-5 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.container-formulario {
  height: 120vh;
  background: #353335;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-formulario .title {
  position: absolute;
  margin-top: -850px;
  color: white;
  opacity: 0.8;
  text-transform: uppercase;
  font-family: "Roboto";
}
.container-formulario .box {
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
  min-width: 400px;
}
.container-formulario .box form fieldset {
  border: solid 2px #353333;
  padding: 12px;
}
.container-formulario .box form fieldset legend {
  opacity: 0.9;
  background-color: #353333;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  letter-spacing: 0.06em;
  margin: auto;
  color: white;
}
.container-formulario .box form fieldset .box-input {
  position: relative;
}
.container-formulario .box form fieldset .box-input .box-input-user {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 15px;
  width: 100%;
  letter-spacing: 1px;
  color: white;
}
.container-formulario .box form fieldset .box-input .box-input-label {
  position: absolute;
  top: 0px;
  left: 0;
  pointer-events: none;
  transition: 0.5s;
  color: #c7c3c3;
}
.container-formulario .box form fieldset .box-input .box-input-user:focus ~ .box-input-label,
.container-formulario .box form fieldset .box-input .box-input-user:valid ~ .box-input-label {
  top: -20px;
  font-size: 12px;
  color: #E4A14A;
}
.container-formulario .box form fieldset .box-input .box-input-user:valid {
  border-color: #E4A14A;
}
.container-formulario .box form fieldset .box-input .box-genero {
  margin: 0 !important;
}
.container-formulario .box form fieldset .box-input #date {
  border: none;
  position: relative;
  padding: 6px;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  margin: 0 10px;
}
.container-formulario .box form fieldset #submit {
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #73bcf7, #effd9b);
  color: #1B5478;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}
.container-formulario .box form fieldset #submit:hover {
  background-image: linear-gradient(135deg, #9f80e7, white 40%, #9f80e7);
}

/*# sourceMappingURL=estilos.css.map */
